<!DOCTYPE html>
<!--            th:onclick="|location.href='@{/detection/detail?patientCode=${patient.patientCode}}'|"-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="/common/header.html"></div>
    <table border="1px solid #000" width="500px" >
    <tr>
        <th>탐지 번호</th>
        <th>환자 번호</th>
        <th>환자 이름</th>
        <th>환자 연락처</th>
        <th>보호자 이름</th>
        <th>보호자 연락처</th>
        <th>탐지 시간</th>
    </tr>
        <!--        th:each="detection : ${ detectionList }"-->
    <tr th:each="patient : ${ detectionPatientList }"
        th:onclick="|location.href='@{/detection/detail?(patientCode=${patient.patientCode})}'|">
        <td th:text="${ patient.detectionCode }"/>
        <td th:text="${ patient.patientCode }"/>
        <td th:text="${ patient.patient.patientName }"/>
        <td th:text="${ patient.patient.patientPhone }"/>
        <td th:text="${ patient.patient.guardianName }"/>
        <td th:text="${ patient.patient.guardianPhone }"/>
        <td th:text="${ patient.detectionDate }"/>
    </tr>
    </table>

</body>
</html>