<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1px solid #000" width="500px" >
    <tr>
        <th>TEST</th>
        <th>TEST</th>
        <th>TEST</th>
        <th>TEST</th>
    </tr>
        <tr>
            <td>PATIENTS</td>
            <td>TEST</td>
            <td>TEST</td>
            <td><a href="/detection/detail?patientCode=1">사람</a></td>
        </tr>
        <tr>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
        </tr>
        <tr>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
            <td>TEST</td>
        </tr>
    </table>

</body>
</html>