.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 1180px;
}

.detection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    width: 800px;
    height: 720px;

    border: 3px solid #2C3E50;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-sizing: border-box;

    background-color: #fff;
}

.userBox{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 800px;
    height: 720px;

    border: 3px solid #2C3E50;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-sizing: border-box;

    background-color: #fff;
}

.smallViews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border: 3px solid #2C3E50;
    border-radius: 1rem;
    box-sizing: border-box;

    margin-top: 40px;
}

.smallView {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 213px;
    height: 80px;
}

.targetView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    width: 800px;

    margin-bottom: 20px;
}

.target {
    width: 640px;
    height: 344px;

    margin-top: 16px;

    border: 3px solid #2C3E50;
    border-radius: 1rem;
    box-sizing: border-box;
}

.backBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 25px;

    width: 640px;
    height: 80px;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;
    line-height: 16px;

    width: 150px;
    height: 60px;

    cursor: pointer;

    border: 1px solid #2c3e50;
    border-radius: 1rem;
    box-sizing: border-box;

    background-color: #2c3e50;
    color: #fff;
}

.userImage {
    width: 640px;
    height: 344px;

    margin-top: 16px;

    border: 3px solid #2C3E50;
    border-radius: 1rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    width: 800px;
    height: 720px;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;
    line-height: 16px;

    width: 250px;
    height: 60px;

    background-color: #2c3e50;
    color: #fff;
}

.userLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 500px;
    height: 640px;
}

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 1600px;
}

.userDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    width: 800px;
    height: 160px;

    border: 3px solid #2C3E50;
    border-radius: 1rem;
    box-sizing: border-box;
}

.oneDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 128px;
    height: 80px;
}

.detailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 16px;
    line-height: 16px;

    width: 150px;
    height: 60px;

    cursor: pointer;

    border: 1px solid #2c3e50;
    border-radius: 1rem;
    box-sizing: border-box;

    background-color: #2c3e50;
    color: #fff;
}

.detailButtonBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 25px;

    width: 640px;
    height: 80px;

    margin-top: 20px;
    margin-bottom: 16px;
}

.userInfo > h3, .targetView > h3 {
    margin-top: 32px;
}