<<<<<<< HEAD
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #C4DFAA;
    padding: 50px;
}
.register {
    margin: 20px auto;
    width: 500px;
}
.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #73A9AD;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.btns {
    margin-bottom: 10px;
=======
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    background: #fff;
    font-family: 'PT Sans', sans-serif;
}
h2{
    padding-top: 1.5rem;
}
a{
    color: #333;
}
a:hover{
    color: #da5767;
    text-decoration: none;
}
.card{
    border: 0.40rem solid #f8f9fa;
    top: 10%;
}
.form-control{
    background-color: #f8f9fa;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
}

.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.btn{
    padding: 0.6rem 1.2rem;
    background: #da5767;
    border: 2px solid #da5767;
}
.btn-primary:hover {


    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;

>>>>>>> 32cf6f49bc060ed6d9fa0c37e73fbe6ba1463c34
}