<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/patientStyle/patient-detail-style.css">

</head>
<body>

    <h1>+++header+++</h1>
    <div class="patientDetailPage">
    <hr/><br/>

    <img th:src="${patient.patientPicture}" class="patientImg"/>
    <th:block>
        <div class="patientDetailInfo">
        <div class="patientDetailInfoContent" th:text="|이름 : ${patient.patientName}|"></div>
        <div class="patientDetailInfoContent" th:text="|생년월일 : ${patient.patientCode}|"></div>
        <div class="patientDetailInfoContent" th:text="|성별 : ${patient.patientGender}|"></div>
        <div class="patientDetailInfoContent" th:text="|주소 : ${patient.patientAddress}|"></div>
        </div>
    </th:block>

    <table class="noticeTable">
        <tr> <td style="border-bottom:dotted">특이사항</td> </tr>
        <tr> <td style="padding:15px" th:text="${patient.explanation}"></td> </tr>
    </table>
        <br/>


    <button th:onclick="|location.href='@{/patient/${patient.num}'|">수정하기</button>
    <button th:onclick="|location.href='@{/patient}'|" >목록으로</button>

    <hr/>
    </div>
    <h1>+++footer+++</h1>

</body>
</html>