<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/patientStyle/patient-style.css">
</head>
<body>
    <h1>++header++</h1>
    <hr/>
    <br/>

    <div >
        <select>
            <option value="">선택</option>
            <option value="disease">지병명</option>
            <option value="name">이름</option>
            <option value="age">나이</option>
            <option value="gender">성별</option>
        </select>

        <input type="text" id="patientSearch" placeholder="검색 내용을 입력하세요"/>

        <button>검색</button>

        <table class="patientListTable">
            <tr>
                <td>번호</td>
                <td>이름</td>
                <td>생년월일/나이(만)</td>
                <td>지병(상세보기)</td>
            </tr>
            <th:block>

            <tr  th:each="patient: ${patientList}">
                <td><a th:href="|/patient/detail/${patient.num}|" th:text="${patient.num}" ></a> </td>
                <td><a th:href="|/patient/detail/${patient.num}|" th:text="${patient.name}" ></a></td>
                <td><a th:href="|/patient/detail/${patient.num}|" th:text="${patient.birth}" ></a></td>
                <td><a th:href="|/patient/detail/${patient.num}|" th:text="${patient.disease}" ></a></td>
            </tr>

            </th:block>
        </table>

        <button>환자추가</button>
        <br/>

        <hr/>
        <h1>+++footer+++</h1>
    </div>

</body>
</html>