<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="outer outer-notice-insert">
            <br>
            <h2 align="center">질병 수정</h2>
            <div class="table-area">
                <form th:action="@{/disease/update}" method="post">
                    <table align="center">
                        <input
                                type="hidden"
                                id="no"
                                name="illnessCode"
                                th:value="${ disease.illnessCode }"
                        >
                        <tr>
                            <td>질병명 </td>
                            <td><input type="text" size="50" name="illnessName" th:value="${ disease.illnessName }"></td>
                        </tr>
                        <tr>
                            <td>질병 설명 </td>
                            <td colspan="3">
                                <textarea
                                        name="illnessDesc"
                                        cols="60"
                                        rows="15"
                                        style="resize:none; width:90%; height:200px; resize:none;"
                                        th:text="${ disease.illnessDesc }"
                                ></textarea>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div align="center">
                        <button
                                type="button"
                                class="btn btn-pk"
                                th:onclick="'location.href=\'/disease/detail?no='+ @{${ disease.illnessCode }} + '\''"
                        >
                            돌아가기
                        </button>
                        <button type="reset" class="btn btn-or" style="width: 150px">작성내용 되돌리기</button>
                        <button type="submit" class="btn btn-bs">수정하기</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</th:block>

</html>
