body{
    text-align: center;
}
.patientDetailPage{
    background-color: #C4DFAA;
    width: 800px;
    display: inline-block;
}
.patientDetailInfo{
    display: inline-block;
    padding: 0px;
    margin:0px;
    text-align-last: left;
    width:400px;
    height:250px;
    background-color: #2c3e50;
    vertical-align: top;
    margin:10px;
    border-style: groove;
    color:white;
}
.patientDetailInfoContent{
    width: 380px;
    font-size: 20px;
    margin:20px;
}
.patientImg{
    height: 250px;
    vertical-align: top;
    margin:10px;
    border-style: groove;
}
.noticeTable{
    width: 650px;
    display: inline-table;
    background-color: #2c3e50;
    border-style: groove;
    margin:10px;
    padding: 20px;
    color:white;
    text-align: center;
}