body{
    text-align: -webkit-center;
}
.patientInsertPage{
    width: 800px;
    display: inline-block;
    margin: 25px;
    margin-top: 130px;
    border: 3px solid #000;
    background-color:  #2c3e50;
    text-align-last: center;
}
.patientInsertTop{
    display: inline-flex;
    margin: 25px;
}
.patientInsertInfo{
    margin-left: 30px;
    padding: 15px;
    color: white;
}
.patientInsertImg{
    width: 160px;
    height: 200px;
    margin-right: 20px;
}
.patientInputBoxTop{
    width: 220px;
    height: 30px;
    margin-right: 10px;
    margin-left: 15px;
}
.patientInsertMiddle{
    display: inline-table;
    margin: 15px;
    width: 700px;
    padding: 25px;
    color: white;
}
.patientInputBoxMiddle{
    width: 520px;
    height: 30px;
    margin-right: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}
.patientInsertBottom{
    display: inline-table;
    margin: 15px;
    width: 700px;
    padding: 25px;
    color: white;
}
.patientInputBoxBottom{
    width: 520px;
    height: 30px;
    margin-right: 10px;
    margin-top:5px;
    margin-bottom: 5px;
}
.patientInsertCompletedButton{
    width: 90px;
    height: 30px;
    margin: 20px;

}